$h1-foreground-color: blue;

$background-color-level-1: rgb(25, 240, 204);
$background-color-level-2: rgb(247, 240, 155);
$foreground-color-level-1: rgb(17, 73, 2);
$foreground-color-level-2: rgb(224, 22, 22);

@mixin button-styler($bg, $fg) {
    background: $bg;
    color: $fg;
    border: 1px solid $fg;
}

@mixin foreground-darkener($color-to-process, $parent-div-width) {
    @if $parent-div-width > 75% {
        color: darken($color: $color-to-process, $amount: 30%);
    } @else {
        @if $parent-div-width > 50% {
            color: darken($color: $color-to-process, $amount: 15%);
        } @else {
            color: $color-to-process;
        }
    }
}

h1 {
    color: $h1-foreground-color;
}

.level-button-structure {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.level-1 {
    button {
        @extend .level-button-structure;
        @include button-styler($background-color-level-1, $foreground-color-level-1);
        @include foreground-darkener($foreground-color-level-1, 76%);
    }
}

.level-2 {
    button {
        @extend .level-button-structure;
        @include button-styler($background-color-level-2, $foreground-color-level-2);
        @include foreground-darkener($foreground-color-level-2, 51%);
    }
}