@background-color-level-1: rgb(25, 240, 204);
@background-color-level-2: rgb(247, 240, 155);
// @foreground-color-level-1: rgb(17, 73, 2);
@foreground-color-level-1: lightblue;
@foreground-color-level-2: rgb(224, 22, 22);

.button-styler(@bg, @fg) {
    background: @bg;
    color: @fg;
    border: 1px solid @fg;
}

.foreground-darkener(@color-to-process, @parent-div-width) {
    & when(@parent-div-width > 75%) {
        color: darken(@color-to-process, 30%);
    } 
    
    & when (@parent-div-width > 50%) and (@parent-div-width <= 75%) {
        color: darken(@color-to-process, 15%);
    }
    
    & when (@parent-div-width <= 50%) {
        color: @color-to-process;
    }
}

.level-button-structure {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.level-1 {
    button {
        .level-button-structure();
        .button-styler(@background-color-level-1, @foreground-color-level-1);
        .foreground-darkener(@foreground-color-level-1, 16%);
    }
}

.level-2 {
    button {
        .level-button-structure();
        .button-styler(@background-color-level-2, @foreground-color-level-2);
        .foreground-darkener(@foreground-color-level-2, 76%);
    }
}