h2 {
    color: dodgerblue;
    text-decoration: underline;
}

#mainHeadline {
    color: green;
    font-size: 36px;
    font-family: Arial;
}

.pink-bg {
    background: pink;
}

table {
    width: 100%;
    font-family: Calibri;
    border: 5px dotted darkmagenta;
}

table thead tr th {
    color: rebeccapurple;
}

table tbody tr td {
    border: 3px solid darkslategray;
}

table tbody tr:nth-child(odd) {
    background: blue;
}